<%- include('./partials/header.ejs') %>
            
            <% 
                var cats = ['sports','politics','national','world','technology'];
    
                for (var i=0;i<cats.length;i++){ 
                    var cat = articles[cats[i]];
                    if( cat == null || cat.length ==0){
                        continue;
                    }else{ %> 
                        <div class="features-clean">
                            <div class="container">
                                <div class="intro">
                                    <h2 class="text-center"><%= cats[i]%></h2>
                                </div>
                                <div class="row features">
                                    <% for(var j=0;j<Math.min(cat.length,8);j++){ %> 
                                        <div class="col-sm-6 col-lg-4 item">
                                            <h3 class="name"><strong><%=cat[j].title%>&nbsp;</strong></h3>
                                            <p class="description"><%=cat[j].body.substring(0,Math.min(150,cat[j].body.length))%>.....</p>
                                            <p><%=cat[j].date%></p>
                                            <p>Post by : <%=cat[j].websiteName%></p> 
                                            <a href="/articles/<%=cat[j]._id%>">Read More</a>
                                            
                                        </div>
                                    <% } %> 
                                </div>
                            </div>
                        </div>
                        
                    <% }
                }
            %>

<%- include('./partials/footer.ejs') %>
