<%- include('./partials/header.ejs') %>
               
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">My Feed</h2>
        </div>
        <div class="row features">
                <div class="card mb-3">
                    <div class="row">
                        <%for(var i=0;i<Math.min(articles.length,20);i++){ %>
                        <div class="col-md-4"><img class="card-img-top" src="<%=articles[i].thumbnail%>" alt="Card image cap" style="cursor:pointer"onclick="location.href='/articles/<%=articles[i]._id%>'"></div>
                            <div class="col-md-8 d-inline" onclick="location.href='/articles/<%=articles[i]._id%>'" style="cursor:pointer">
                                <div class="card-body">
                                    <h5 class="card-title"><a style="color:black; text-decoration: none;" class="text-right card-text" href='/articles/<%=articles[i]._id%>'></a><%=articles[i].title%></a></h5>
                                    <p class="card-text"><%=articles[i].summary%></p>
                                    <p class="card-text"><small class="text-muted">Last updated : <%=new Date(articles[i].date)%></small></p>
                                    <p class="card-text d-inline"><small class="text-muted d-inline">News From : <%=articles[i].websiteName.toUpperCase()%></small></p>
                                    &nbsp;&nbsp;
                                    <p style="float:right; text-transform: capitalize;"class="text-right card-text"><small class="text-left text-muted">Category : <%=articles[i].category%></small></a>
                                    
                                </div>
                                    
                            </div>
                        <% } %>
                           <div id="display"></div>

                    </div>

                </div>

        </div>
        <div id="formSection">
            <% if(articles.length>20){ %>
            <form id="loadMoreForm" enctype="application/x-www-form-urlencoded">
                <input id="hiddenField" type="hidden" name="counter" value="20">
                <input type="submit" id="loadMoreButton" value="Load More">
            </form>
            <% } %> 
        </div>
    </div>
</div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/main.js"></script>
<%- include('./partials/footer.ejs') %>
