<%- include('./partials/header.ejs') %>
               
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">My Feed</h2>
        </div>
        <div class="row features">
                <div class="card mb-3">
                    <div class="row">
                        <% for(var i=0;i<Math.min(articles.length,20);i++){ %>
                            <div class="col-md-4"><img class="card-img-top" src="<%=articles[i].thumbnail%>" alt="Card image cap"></div>
                            <div class="col-md-8 d-inline">
                                <div class="card-body">
                                    <h5 class="card-title"><%=articles[i].title%></h5>
                                    <p class="card-text"><%=articles[i].summary%></p>
                                    <p class="card-text"><small class="text-muted">Last updated : <%=new Date(articles[i].date)%></small></p>
                                    <p class="card-text d-inline"><small class="text-muted d-inline">News From : <%=articles[i].websiteName%></small></p>
                                    &nbsp;&nbsp;
                                    <a style="float:right"class="text-right card-text" href='/articles/<%=articles[i]._id%>'><small class="text-left text-muted">Read Full News</small></a>
                                </div>
                                    
                            </div>
                        <% } %>
                    </div>
                </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
