<%- include('./partials/header.ejs') %>
<div class="article-list">
        <div class="container">
            <div class="intro">
                <% if(articles && articles.length>0){ %>
                    <h2 class="text-center">Search Results For : <%=keyword%></h2>
                <% }else{ %>
                    <h2 class="text-center">No articles found.</h2>
                <% } %>    
            </div>
            <div class="row articles">
                <% for(var i = 0;i<articles.length;i++){ %>
                    <div class="col-sm-6 col-md-4 item">
                        <a href="#">
                            <!-- <img class="img-fluid" src="assets/img/desk.jpg"> -->
                        </a>
                        <h3 class="name"><%= articles[i].title %></h3>
                        <p class="description"><%=articles[i].body.substring(0,Math.min(articles[i].body.length,200)) %>........</p>
                        <br>
                        <p class="lead"> <%=articles[i].date %></p>
                        <p class="d-inline"><%=articles[i].websiteName %></p>
                        <a href="/articles/<%=articles[i]._id%>">Read More</a>
                    </div>
                <% } %>
                <!-- <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"></a></div> -->
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
